*{
box-sizing: border-box;
}
.playground{
    text-align: center;
}
body{
    counter-reset: section;
}
h1{
    counter-reset: subsection;
}
h2::before{
    counter-increment: section;
    content: "Section" counter(section) "."; 
}
h2::before{
    counter-increment: subsection;
    content: counter(section) "." counter(subsection) " ";
}